<h1>About</h1>

<p>
	<%= link_to "Rails Project", "http://onemonthrails.com" %>
	is a project to learn and experiment with
	<%= link_to "Ruby On Rails", "http://rubyonrails.org" %>
	. 
</p>
	<p>
		If you're reading this, chances are you are either myself or someone I know- so go ahead and create an account to see what this web application is capable of (which includes the ability to create an account)!
</p>

	